<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
    <%-include('./partials/nav.ejs')%> 
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, placeat fuga ea laboriosam itaque dolores facilis odit corrupti veritatis iusto fugit officia a exercitationem, vel expedita quam. Eum, mollitia deserunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo commodi quasi ratione minima aut nulla, aspernatur atque nesciunt et nihil magnam culpa a, placeat facere cumque, eligendi voluptatibus ex facilis.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam quos necessitatibus minima unde nisi recusandae sequi labore deleniti. Corrupti cupiditate eligendi, rerum rem vel voluptatum! Corporis reiciendis a aliquid quisquam!</p>
    </div>
</body>
<%-include('./partials/footer.ejs')%>
</html>